In [1]:
# gross income by state 2018
import pandas as pd
from splinter import Browser
import time
from bs4 import BeautifulSoup as bs

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
urlIncomeData ="https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_median_wage_and_mean_wage"
browser.visit(urlIncomeData)

In [5]:
incomeURL ="https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_median_wage_and_mean_wage"
table = pd.read_html(incomeURL)

In [6]:
df = table[1]
df[["Stateor territory", "Average earnings in US$[2]"]]

           Stateor territory Average earnings in US$[2]
0       District of Columbia                   $115,923
1              Massachusetts                    $76,437
2                     Alaska                    $69,789
3                Connecticut                    $74,405
4                 Washington                    $74,016
5                   New York                    $80,640
6                   Maryland                    $69,893
7                 New Jersey                    $71,959
8                  Minnesota                    $62,156
9                     Hawaii                    $59,231
10                California                    $75,400
11                  Colorado                    $62,375
12              Rhode Island                    $59,055
13              North Dakota                    $55,447
14                  Virginia                    $64,517
15                   Wyoming                    $55,018
16                  Illinois                    $66,600
17                  Delaware                    $62,817
18             New Hampshire                    $62,427
19                   Vermont                    $50,826
20                    Oregon                    $60,306
21              Pennsylvania                    $64,706
22                 Wisconsin                    $56,302
23                  Michigan                    $58,132
24                      Ohio                    $57,764
25                  Nebraska                    $56,147
26                     Maine                    $50,441
27                      Iowa                    $52,467
28                     Texas                    $62,230
29                   Arizona                    $57,422
30                      Utah                    $54,075
31                  Missouri                    $54,580
32                   Georgia                    $58,280
33                    Kansas                    $54,109
34            North Carolina                    $56,343
35                   Indiana                    $56,754
36                    Nevada                    $54,842
37                   Montana                    $46,424
38                 Tennessee                    $59,121
39                  Kentucky                    $50,701
40                   Florida                    $52,728
41                  Oklahoma                    $55,204
42                     Idaho                    $49,763
43                New Mexico                    $50,893
44            South Carolina                    $51,670
45                   Alabama                    $51,347
46              South Dakota                    $49,827
47                 Louisiana                    $53,095
48             West Virginia                    $51,679
49                  Arkansas                    $48,164
50               Mississippi                    $44,285
51               Puerto Rico                    No data
52            American Samoa                    No data
53                      Guam                    No data
54  Northern Mariana Islands                    No data
55       U.S. Virgin Islands                    No data